.addnewinterview-comp{
    padding:50px 100px;
    background-color: rgb(231, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}
.addnewinterview{
    display: flex;
    padding-top: 20px;
}
.addnewinterview-comp:hover{
   scale: 1.05;
   box-shadow: 5px 6px 20px rgba(172, 172, 172, 0.463);
}
.dialog-box-container{
    display: flex;
    padding: 10px;
    justify-content: end;
    gap: 20px;
}
.dialog-box-button{
    color: white;
    background-color: black;
    padding: 7px 17px;
    border-radius: 15px;
}

.dia-heading{
    font-size: x-large;
    font-weight: 600;
}
.dia-subheading{
    font-size: small;
    color: rgb(57, 57, 57);
}
.dia-input{
    display: flex;
    padding: 10px;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(243, 242, 242);
}
.dia-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}
.generating-ques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px
}

@media (max-width:768px) {
    .dialog-box-container{
        flex-direction: column;
    }
    .generating-ques{
        justify-content: space-evenly;
    }
}